# Dependencias
node_modules/
.pnpm-store/

# Build
out/
dist/
build/
coverage/

# Entorno
.env
.env*.local

# IDE
.idea/
*.swp
.DS_Store
.cspell.json

# Logs y cache
*.log
.cache/
.turbo/
*.tsbuildinfo
